.header-right{
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}

.header-right a{
	float: right;
	margin-left: 15px;
}

.odd .dataTables_empty{
	text-align: center;
}

.v-center{
	vertical-align: middle!important;
}

.acao-parcial{
	width: 80px;
}

.banner{
	width: 100px;
	height: 50px;
}
