body{
	margin: 0;
	padding: 0;	
	background-color: #57BDE9;
	color: #000;
	font-family: Headland;
}

.esquerda{
	float: left;
}

.direita{
	float: right;
}

.centralizado{
	text-align: center;
}

.box-centralizado{
	margin: 0 auto;
	width: 960px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:#1F8F83!important;
	border:1px solid #666!important;
	color:#FFF!important;
	font-weight: normal!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	color: #EB8F00!important;
}

.ui-state-default .ui-icon{
	background-image: url(../img/jquery-ui/ui-icons_ef8c08_256x240.png)!important;
}

.ui-state-active .ui-icon{
	background-image: url(../img/jquery-ui/ui-icons_ef8c08_256x240.png)!important;
}

header{
	width:100%;
	height: 270px;
	float: left;
}

header .logo{
	width: 171px;
	height: 220px;	
	margin: 0 auto;
}

header .logo h1{
	display: none;
}

header .logo img{
	width: 171px;
	height: 216px
}


header .box-login{
	float: right;
	width: 250px;
	height: 220px;	
	background-color: blue;
	margin-right: 20px;	
}

header .box-login img{
	width: 250px;
	height: 190px;
	z-index: 1;
}

header .box-login input{
	z-index: 999;
}

header nav{
	width: 960px;
	height: 50px;
	float: left;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	background-color: #1F8F83;
}

header nav a{
	float: left;
	font-size: 20px;
	text-decoration: none;
	color: #FFF;
	padding: 0px 15px;
	margin-top: 14px;
	border-right: 1px solid #FFF;
}

header nav a:first-child{
	margin-left: 50px
}

header nav a:last-child{
	border-right: none;
	margin-right: 50px
}

header nav a:hover{
	color: #EB8F00;
}

header nav a.ativo{
	color: #EB8F00;
}

.box-conteudo{
	background-color: #FFF;
	float: left;
	width: 920px;
	min-height: 600px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;	
	padding: 20px;
}

.box-conteudo h2{
    border-bottom: 1px solid;
    border-bottom-style: dotted;
    text-transform: uppercase;	
    color: #666;
}

.box-conteudo .box-esquerdo{
	float: left;
	width: 460px;
	height: 300px;
	background-color: red;
	opacity: 0.65;
}

.box-conteudo .box-direito{
	float: left;
	width: 460px;
	height: 300px;
	background-color: orange;
	opacity: 0.65;
}

.box-conteudo .imagem-esquerda{
	float: left;
	margin-right: 25px;
	max-width: 250px;
}

.box-conteudo .imagem-direita{
	float: right;
	margin-left: 25px;
	max-width: 250px;
}

.box-conteudo div img#a-fazenda{
	width: 250px;
}

.box-conteudo #gados{
	background:#1F8F83;
	padding: 16px;
	min-width: 920px;
}

.box-conteudo #gados tr td img{max-width:350px;}
.box-conteudo #gados tr #texto{background:#FFF;}
.box-conteudo #gados tr #texto h3{padding-left:25px;}

.box-conteudo #gados tr #texto p{
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
	font-size: 12px;
}

.box-conteudo #gados tr #texto #btn-reservar,.box-conteudo form button#btn-cadastrar,.box-conteudo form button#btn-enviar{
	float:right;
	margin-right:25px;
	width:80px;
	height:30px;
	background: #1F8F83;
	border-radius:8px;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}

.box-conteudo #gados tr #texto #btn-reservar:hover,.box-conteudo form button#btn-cadastrar:hover,.box-conteudo form button#btn-enviar:hover{
	background:#1F8F83;
	color:#EB8F00;
	cursor:pointer;
}

.box-conteudo #cadastro #informacoes-cadastro,.box-conteudo #contato #informacoes-contato{
	float: left;
	width: 360px;
	height: 500px;
	font-size: 14px;
}

.box-conteudo #cadastro #form-cadastro,.box-conteudo #contato #form-contato{
	float: left;
	width: 490px;
	margin-left: 30px;
	background-color: #1F8F83;
	padding: 20px;
	border-radius: 10px;
}

.box-conteudo form section{
	width: 490px;
	margin-bottom: 20px;
}

.box-conteudo form section label.descricao-input{
	margin-right: 20px;
	margin-top: 3px;
	width: 50px;
}

.box-conteudo form section label.descricao-input .asterisco{
	color:red;
}

.box-conteudo form section label.input-text{
	width: 490px;
}

.box-conteudo form section label.input-text input{
	width: 445px;
}

.box-conteudo form section label.input-text input.telefone{
	width: 100px;
}

.box-conteudo form section label.input-password input{
	width: 100px;
}

.box-conteudo form button#btn-cadastrar,.box-conteudo form button#btn-enviar{
	width: 100px;
	background-color: #EB8F00;
	color:#000;
}

.box-conteudo form button#btn-cadastrar:hover,.box-conteudo form button#btn-enviar:hover{
	width: 100px;
	background-color: #EB8F00;
	color:#FFF;
}

footer{
	margin: 0px;
	padding: 10px 0px 0px;
	float: left;
	width: 100%;
	height: 300px;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

footer .placa{
	width: 180px;
	height: 129px;
	float: left;
	margin-top: -43px;
	margin-left: 45px;
	position: relative;
}

footer .placa i{
	float: left;
}

footer .placa .icone-sol{
	display: block;
	position: absolute;
	top: 34px;
	left: 52px;
}

footer .placa .icone-sol a{
	width: 33px;
	height: 16px;
	float: left;
	margin-left: 6px;
}

footer .placa .icone-lua{
	display: block;
	position: absolute;
	top: 58px;
	left: 54px;
}

footer .placa .icone-lua a{
	width: 55px;
	height: 16px;
	float: left;
	margin-left: 6px;
}

footer .placa .icone-facebook{
	background-image: url(../img/facebook.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	bottom: 20px;
	left: 29px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
	transform: rotate(7deg);
}

footer .boi{
	width: 180px;
	height: 129px;
	float: right;
	margin-top: -106px;
	margin-right: 83px;
	position: relative;	
}

footer .direitos{
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #FFF;
}

footer .desenvolvedor{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	font-size: 12px;
	color: #FFF;
}

footer .desenvolvedor p a{
	color:#000;
	text-decoration: none;
}